{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>Contenu</th>
                <th>Author</th>
                <th>CreatedAt</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.resume }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.auteur }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td><img style="height:150px; width:150px;" src="{{ asset('images/article/')}}{{article.image}}" alt=""></td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    {% if is_granted('EDIT', article) %}
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
    {{ knp_pagination_render(articles) }}
    </div>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
